div.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: dimgray
}

h1.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    float: right
}

}

h4.menu {
    font-size: 24px;
    float: left
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5be3f30d6c90a992289da7cb372324d1336cdac5

a:link {
    color: black
}

a:visited {
    color: black
}

div.twitter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    float: left
}

div.youtube {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    float: right
}
<<<<<<< HEAD
=======
=======
>>>>>>> 5be3f30d6c90a992289da7cb372324d1336cdac5
a:link{color: black}
a:visited{color: black}
div.twitter{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 18px; float: left}
div.youtube{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px; float: right}
<<<<<<< HEAD
=======
>>>>>>> ec357793ef626bab024726a803eb491b929c5541
>>>>>>> 5be3f30d6c90a992289da7cb372324d1336cdac5
